.movie-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png");
    background-size: cover;

    padding: 24px;
}

.heding_name {
    color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 28px;

}

.button {
    border-radius: 10px;
    color: #ff8348;
    height: 35px;
    width: 100px;
    border-width: 0px;
    font-family: "roboto";
    font-size: 11px;
}

.movie-heading-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.moviepara {
    color: #ffffff;
    font-size: 11px;
    font-family: "roboto";
}

.movienamesheading {
    font-family: "roboto";
    color: #ffffff;
    font-size: 18px;
}

.similar-movie-image {
    margin-left: 5px;
    margin-right: 5px;
}